/* General styles */

.App {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background-color: #f8f9fa;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

nav ul li {
  cursor: pointer;
  color: #000;
}

main {
  display: flex;
  /*padding: 1rem;*/
}

.App-header {
  background-color: #ffffff;
  height: 74px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: white;
}

.page-title {
  text-align: start;
}

.date-filter {
  display: flex;
  flex-direction: row;
  gap: 16px;
  background: #F8F8F8;
  padding:20px;
  justify-content: space-between;
  margin-bottom: 12px;
}

.date-filter .date-left {
  text-align: start;
}



/* Sidebar styles */
.filters {
  width: 17%;
  padding: 1rem;
  background-color: #fff;
  border-right: 1px solid #dee2e6;
}

.filters h2 {
  font-size: 1.25rem;
  text-align: start;
  font-weight: 600;
}

.filter-group {
  margin-bottom: 1rem;
  border-top: 1px solid  rgba(0, 0, 0, 0.20);
  padding-top: 8px;
}

.filter-group .filter-group-header h3 {
  font-size: 1rem;
  text-align: start;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.filter-group-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

}

.filter-group-header svg {
  align-self: center;
}
.filter-group label {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.filter-group input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.filter-group input[type="checkbox"] {
  margin-right: 8px;
  cursor: pointer;
}

tr.selected {
  background-color: #005CA9;
  color: #fff;
}

.filter-group button,
.filters > button {
  background-color: transparent;
  text-align: end;
  color: 2F2F2F;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: underline;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 8px;
  align-items: center;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

/* .filter-group button:hover,
.filters > button:hover {
  background-color: #c82333;
}
 */
/* Content styles */
.content {
  width: 64%;
  padding: 1rem;
}

label {
  text-align: start;
}

.clusters {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.cluster {
  display: flex;
  border-radius: 18.04px;
padding: 15px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
flex: 1 0 0;
align-self: stretch;
border: 0.902px solid #005CA9;
background: #FFF;
}

.cluster.notActive {
  opacity: 0.4;
}

.header-table {
  text-align: start
}

.header-table h2 {
  color: #000;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 120% */
}

.tensione {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: start !important;
}

.header-table p {
  color: #000;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
}

.cluster h3 {
  color:  #005CA9;
  text-align: start;
font-size: 16.236px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.451px;
text-transform: uppercase;
}

.cluster p:first-of-type {
  color: #005CA9;
  font-size: 28.864px;
  font-style: normal;
  text-align: start;
  font-weight: 500;
  line-height: 43.297px; /* 150% */
  letter-spacing: 0.451px;
  text-transform: uppercase;
}
.cluster p:last-of-type {
  color: #2F2F2F;
  text-align: start;
font-size: 14.432px;
font-style: normal;
font-weight: 400;
line-height: 14.432px; /* 100% */
}

.measurements {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}


.measurements h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.measurements table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.measurements th, .measurements td {
  border: 1px solid #dee2e6;
  padding: 0.5rem;
  text-align: left;
}

.measurements th {
  background-color: #f8f9fa;
  cursor: pointer;
  position: relative;
  user-select: none;
  transition: background-color 0.2s ease;
}

.measurements th:hover {
  background-color: #e2e6ea;
}

.measurements th.ascending::after,
.measurements th.descending::after {
  margin-left: 5px;
  font-size: 0.75em;
}

.results-info {
  margin-top: 10px;
  font-size: 0.9em;
  color: #6c757d;
}

.measurements th {
  background-color: #f8f9fa;
}

/*
.measurements button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}


.measurements button:hover {
  background-color: #0056b3;
}

*/

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

p {
  margin: 0;
}

.pagination button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #0056b3;
}

/* Inspector styles */
.inspector {
  width: 30%;
  padding: 1rem;
  background-color: #f1f3f5;
  border-left: 1px solid #dee2e6;
}

.inspector h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.applied-filters {
  display: flex;
  gap: 8px;
}

.filter {
  padding: 0.5rem 1rem;
  border: none;
  background: #005CA9;
  border-radius: 80px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11.2px;
  line-height: 11.2px;
  letter-spacing: 0.8px;
}

.prompt {
  border-radius: 16px;
  display: flex;
  gap: 30px;
  padding: 20px;
  border: 1px solid #949494
}

.inspector-btns {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-end;
}

/*
.inspector button {
  border-radius: 8px;
border: 1px solid #005CA9;
background:  #FFF;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}*/

.inspector button:hover {
  background-color: #0056b3;
  color: #ffffff;
}


.characteristics {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  margin-top: 20px;
  margin-bottom: 20px;
}


.characteristics .recharts-responsive-container{
  margin-left: -30px;
}

.characteristics h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.characteristics ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.characteristics ul li {
  margin-bottom: 0.25rem;
}

.button-group-graph{margin-bottom: 10px;}
.button-group-graph .btn{
  font-size: 12px;
  padding: 2px;
  line-height: 14px;
}

.text-right{ 
  text-align: right !important;
}

.leaflet-control-attribution.leaflet-control {
  display: none !important;
}