.container-reports {
    width: 83%;
    text-align: left;
}

.container-reports-flex {
    display: flex;
}

.content-reports {
    flex: 1 1 55%;
    border-right: 1px solid #00000033;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content-reports-child {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.reports {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px
}

.report {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: inherit;
    border-radius: 16px;
    gap: 16px;
    padding: 16px;
    border: 1px solid #00000033;
    background: white;
    min-width: 200px;
    text-align: left;
}

.report.active {
    border: 1px solid #005CA9;

}

.report-title {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    /*line-height: 36px;*/
    letter-spacing: 0.5px;
    color: #005CA9;
    margin-bottom: 4px;
}

.mieiReports {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px
}

.mioReport {
    text-decoration: none;
    color: inherit;
    border-radius: 16px;
    padding: 16px;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 4px 4px 0px #0000001A;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mioReport.active {
    border: 1px solid #005CA9
}

.mioReport-name {
    font-family: Oswald;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #005CA9;
    text-transform: uppercase;
}

.mioReport-date {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;

}

.mioReport-filters {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.mioReport-prompt {
    display: flex;
    align-items: center;
    gap: 12px;
}

.mioReport-prompt  b{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}
